body{
  height: 100vh;
  margin: 0;
}
div{
  width: 50px;
  height: 50px;
  border: 1px solid;
}
.top{
  top:0;
}
.bottom{
  bottom: 0;
}
.left{
  left: 0;
}
.right{
  right: 0;
}
.fixed {
  position: fixed;
}
